[class*="col"] {
  padding: 1rem;
  background-color: #fff;
  color: #000;
}

.error-text {
  color: red;
}

.yellow {
  background: rgba(254, 250, 119, 0.6);
  padding: .1rem .1rem;
}

.red {
  background: rgba(252, 98, 98, 0.6);
  padding: .1rem .1rem;
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.slider {
  background-color: #0065bd;
}
slider:hover {
  background-color: #004480;
}
.table [class*="col"] {
  display: table-cell;
  vertical-align: top;
  float: none;
}
.panel {
  display: none;
}
.headings {
  color: #fff;
}
dl {
         width: 200px;
         background: #fff;
         border: 1px solid #000;
         padding: 5px 15px;
  }

dt, dd  {
        display: inline;
  }
         
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px #ddd solid;
  border-top: 10px #0065bd solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 100%;
  }
.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  }
.legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.legend a {
  color: #777;
  }